#
# SE Mod Helpers - build script configuration file
#
# Include this file in your mod's top-level directory.
#
# The build script will search its own directory for "build_config.yml", then
# each higher level directory up to 4 levels. The first one found is used to
# configure this script.

# mod_name and mod_dir are automatically inferred from the location of this
# file, but can also be specified:
#mod_name: MyAwesomeMod
#source_dir: 'C:\Sites\MyAwesomeMod'

# Should the builder deploy an additional development copy of the mod with
# DEBUG compilation tags left intact?
build_dev_copy: true

# if mwm_builder_path points to MwmBuilder.exe, models will be built
mwm_builder_path: 'C:\Program Files (x86)\Steam\SteamApps\common\SpaceEngineers\Tools\MwmBuilder\MwmBuilder.exe'
